/node_modules
/public/node_modules
/public/bower_components
/public/js/bundled.js
/public/build/js/bundled.js
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
/database/seeds/csvs