.homepage__cardstack {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.homepage__card {
	display: flex;
	align-items: flex-end;
	margin-bottom: 25px;
	margin-right: 25px;
	height: 250px;
	width: 250px;
	border: 4px solid black;
}

.homepage__card-title {
	margin:  0 auto 22px;
	padding: 5px 13px;
	font-size: 16px;
	background: rgba(241, 241, 241, 0.45);
	color:white;
	word-wrap: break-word;
}

.ng-modal-title {
	text-align: center;
}

.homepage__pager {
	display: flex;
	width: 95%;
	margin: 30px auto;
	justify-content: space-between;
}

body{
	position: relative;
}

h4.homepage__title {
	text-decoration: underline;
}