<div class="projects-holder-3">
	<tag-pen-dir filters="filters"></tag-pen-dir>
	<div class="projects-holder">
		<div class="row">
			<!-- <div class="homepage__card" ng-repeat="card in cards" ng-click="toggleModal(cards.indexOf(card))" ng-style="card.style">
				<span class="homepage__card-title">
					{{card.title}}
				</span>
			</div> -->

			<div class="col-md-4 project-item design"
			ng-repeat="card in filteredCards(cards)"
			ng-click="toggleModal(cards.indexOf(card))"
			>
				<div class="project-thumb">
					<img ng-src="/images/{{card.background}}" alt="">
					<div class="overlay-b">
						<div class="overlay-inner">
						</div>
					</div>
				</div>
				<div class="box-content project-detail">
					<h2><a href="project-details.html"> {{card.name}} </a></h2>
					<h4 class="homepage__title">{{card.title}}</h4>
					<p read-more content="{{card.summary}}"
					ellipsis="..."
					more-text=""
					words
					limit="14"></p>
				</div>
			</div> <!-- /.project-item -->
		</div> <!-- /.row -->
	</div> <!-- /.projects-holder -->
</div> <!-- /.projects-holder-2 -->
<modal-dialog-dir></modal-dialog-dir>

<!-- <div class="container">
	<div class="content">
		<div class="homepage__cardstack">
			<div class="homepage__card" ng-repeat="card in cards" ng-click="toggleModal(cards.indexOf(card))" ng-style="card.style">
				<span class="homepage__card-title">
					{{card.title}}
				</span>
			</div>
		</div>
		
	</div>
</div> -->