<div class="container">
	<div class="content">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="submit__title" class="col-sm-1 control-label">Title</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="submit__title" placeholder="Enter Title">
				</div>
			</div>

			<div class="form-group">
				<label for="submit__content" class="col-sm-1 control-label"> Summary </label>
				<div class="col-sm-11">
					<textarea rows="5" class="form-control" id="submit__summary" placeholder="Summary"></textarea>
				</div>
			</div>
<!-- SOURCE_TYPE (AND CONSEQUENTLY VIDEO/AUDIO SUPPORT) WILL BE ADDED LATER -->
<!-- FLIP -->
			<div class="form-group">
				<label for="submit__flip" class="col-sm-1 control-label"> Flip Text </label>
				<div class="col-sm-11">
					<textarea rows="5" class="form-control" id="submit__flip" placeholder="Flip Text"></textarea>
				</div>
			</div>
<!-- FLIP_SOURCE -->
			<div class="form-group">
				<label for="submit__flip-source" class="col-sm-1 control-label">Flip Source</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="submit__flip-source" placeholder="Flip Source">
				</div>
			</div>
<!-- FLOP -->
			<div class="form-group">
				<label for="submit__flop" class="col-sm-1 control-label"> Flop Text </label>
				<div class="col-sm-11">
					<textarea rows="5" class="form-control" id="submit__flop" placeholder="Flop Text"></textarea>
				</div>
			</div>
<!-- FLOP_SOURCE -->
			<div class="form-group">
				<label for="submit__flop-source" class="col-sm-1 control-label">Flop Source</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="submit__flop-source" placeholder="Flop Source">
				</div>
			</div>
<!-- POLITICIAN (DROP-DOWN, IN TIME I SHOULD INTEGRATE A POLITICIAN DATABASE) -->
			<div class="form-group">
				<label for="submit__politician-select" class="col-sm-1 control-label">Politician: </label>
				<div class="col-sm-11">
					<select id="submit__politician-select" class="form-control">
						<option disabled>Select an Option</option>
						<option ng-repeat="politician in politicians" value="{{politician['id']}}"> {{getFullName(politician)}} </option>
					</select>
				</div>
			</div>
	 		
	 		<button class="btn btn-default col-sm-offset-1 submit__button" type="submit" ng-click="flipflopCreate()">Submit</button>
			
		</form>
	</div>
</div>