<div class="content submit__container">
	<form class="form-horizontal">
<!-- TITLE -->
		<div class="form-group">
			<label for="submit__title" class="col-sm-1 control-label">Title</label>
			<div class="col-sm-11">
				<input type="text" class="form-control" id="submit__title" placeholder="Enter Title">
			</div>
		</div>
<!-- SUMMARY -->
		<div class="form-group">
			<label for="submit__content" class="col-sm-1 control-label"> Summary </label>
			<div class="col-sm-11">
				<textarea rows="5" class="form-control" id="submit__summary" placeholder="Summary"></textarea>
			</div>
		</div>
<!-- SOURCE_TYPE -->
		<div class="form-group">
			<label for="submit__source-type" class="col-sm-1 control-label">Type of Evidence</label>
			<div class="col-sm-11">
				<label class="radio-inline">
					<input type="radio" class="submit__source-type"
						ng-model="type" id="submit__source-type-text" 
						value="text" checked="checked" name="submit__source-type"
						ng-change="changeForm('text')"> Text 
				</label>
				<label class="radio-inline">
					<input type="radio" class="submit__source-type" 
						ng-model="type" id="submit__source-type-youtube" 
						value="youtube" ng-change="changeForm('youtube')"
						name="submit__source-type"> Youtube (URL) 
				</label>
			</div>
		</div>
<!-- FLIP -->
		<div ng-switch="type" class="form-group">
			<label for="submit__flip" class="col-sm-1 control-label"> Flip {{typeText}} </label>
			<div class="col-sm-11 submit__flip-text" ng-switch-default="text" id="submit__flip-wrapper">
				<textarea rows="5" class="form-control" name="submit__flip" placeholder="Text"></textarea>
			</div>
			<div class="col-sm-11 submit__flip-text" ng-switch-when="youtube" id="submit__flip-wrapper">
				<input class="form-control" name="submit__flip" placeholder="Youtube Source (URL)" type="text">
				<span class="submit__hint"> You can start the video at a specific time by adding "&t=<i>x</i>m<i>xx</i>s" to the end of the url. Example: http://www.youtube.com/watch?v=XXXXXXXX&t=2m35s for 2 minutes and 35 seconds. See <a href="http://youtubetime.com/">YoutubeTime</a> </span>
			</div>
		</div>
<!-- FLIP_SOURCE -->
		<div ng-if='type == "text"' class="form-group">
			<label for="submit__flip-source" class="col-sm-1 control-label">Flip Source</label>
			<div class="col-sm-11 input-group" id="submit__flip-source-wrapper">
				<span class="col-xs-4 col-sm-1">Source</span> 
				<input type="text" class="col-xs-8 col-sm-6 percent-52" id="submit__flip-source" placeholder="e.g., www.example.com/example" aria-describedby="Flip Source">
				<span class="col-xs-4 col-sm-2 percent-13">Date (Optional)</span> 
				<input type="text" class="col-xs-8 col-sm-3" id="submit__flip-source-date" placeholder="e.g., 11/08/2016" aria-describedby="Flip Source Date">
			</div>
		</div>
<!-- FLOP -->
		<div ng-switch="type" class="form-group">
			<label for="submit__flop" class="col-sm-1 control-label"> Flop {{typeText}} </label>
			<div class="col-sm-11 submit__flop-text" ng-switch-default="text" id="submit__flip-wrapper">
				<textarea rows="5" class="form-control" name="submit__flop" placeholder="Text"></textarea>
			</div>
			<div class="col-sm-11 submit__flop-youtube" ng-switch-when="youtube" id="submit__flip-wrapper">
				<input class="form-control" name="submit__flop" placeholder="Youtube Source (URL)" type="text">
			</div>
		</div>
<!-- FLOP_SOURCE -->
		<div ng-if='type == "text"' class="form-group">
			<label for="submit__flop-source" class="col-sm-1 control-label">Flop Source</label>
			<div class="col-sm-11 input-group" id="submit__flop-source-wrapper">
				<span class="col-xs-4 col-sm-1">Source</span> 
				<input type="text" class="col-xs-8 col-sm-6 percent-52" id="submit__flop-source" placeholder="e.g., www.example.com/example" aria-describedby="Flop Source">
				<span class="col-xs-4 col-sm-2 percent-13">Date (Optional)</span> 
				<input type="text" class="col-xs-8 col-sm-3" id="submit__flop-source-date" placeholder="e.g., 11/08/2016" aria-describedby="Flop Source Date">
			</div>
		</div>
<!-- POLITICIAN (DROP-DOWN, IN TIME I SHOULD INTEGRATE A POLITICIAN DATABASE) -->
		<div class="form-group">
			<label for="submit__politician-select" class="col-sm-1 control-label">Politician: </label>
			<div class="col-sm-11">
				<select id="submit__politician-select" class="form-control">
					<option disabled>Select an Option</option>
					<option ng-repeat="politician in politicians" value="{{politician['id']}}"> {{getFullName(politician)}} </option>
				</select>
			</div>
		</div>
		
		<button class="btn btn-default col-sm-offset-1 submit__button" type="submit" ng-click="flipflopCreate()">Submit</button>
		
	</form>
</div>